
@{
    ViewBag.Title = "Handleiding";
}



<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">

                    <h3><b>Instructie Cyclus | Uren-Online</b></h3>
                    <div class="ibox-content">

                        <p>
                            <strong>Algemeen</strong><br />
                            In de Cyclus Uren-Online applicatie kunt u uw besteding van uw dagelijkse werkzaamheden, verlof, <br />
                            afwezigheden en eventuele overuren bijhouden en indienen.<br />
                            Deze urenverantwoording is bedoeld voor alle (kantoor) medewerkers, zowel in dienst van Cyclus als<br />
                            inhuur, waarvan de verantwoording niet via CLEAR verloopt.<br /><br />

                        </p>
                        <p>
                            <strong>Gebruikers</strong><br />

                            Er zijn twee type gebruikers: <br />

                            <ul><li><strong>Medewerker</strong></li></ul>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDe medewerker kan zijn uren indienen.<br /><br />
                            <ul><li><strong>Leidinggevende</strong></li></ul>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDe leidinggevende kan zijn of haar eigen uren indienen.<br />
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDaarnaast kan de leidinggevende de door de medewerker <br />
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspingediende uren goed- of afkeuren.<br />

                        </p>

                        <p>
                            <strong>Filtering</strong>
                            <br />
                            In de filters kun je op diverse statussen, medewerkers en weken filteren zodat overzichtelijk blijft wat <br />
                            er in te voeren of goed te keuren is.<br />
                        </p>

                        <p>
                            <strong>Rooster</strong><br />
                            Voor alle medewerkers die in dienst zijn van Cyclus is vooraf een rooster ingeladen.<br />
                            Als je geen wijzigingen hebt t.o.v. je standaard rooster dan kun je <u>in één keer het rooster indienen.</u><br />
                            Ook als je de ene week 32 en de andere week 40 uur werkt dan is hier rekening mee gehouden.<br />
                            Voor inhuurmedewerkers is <u>geen</u> rooster ingeladen omdat het aantal uur per week kan variëren en<br />
                            alleen het aantal gewerkte uren wordt gefactureerd aan Cyclus.<br />
                        </p>

                        <p>
                            <strong>Aantal uren/overuren</strong>
                            <br />
                            In het geval je overuren hebt gemaakt dien je deze als uurtype ‘overuren’ in.<br />
                            Medewerkers die geen overuren mogen schrijven kunnen niet meer uren indienen dan het aantal contracturen.<br />
                        </p>
                        <p>
                            <strong>Gewijzigd</strong>
                            <br />
                            Als er in een week iets gewijzigd is t.o.v. het rooster (dat kan ook alleen een opmerking zijn),<br />
                            dan zie je de opmerking ‘gewijzigd’ verschijnen in de regel van de betreffende week.<br />
                            Een leidinggevende ziet dan snel of een ingediende week mutaties heeft.<br />
                        </p>
                        <p>
                            <strong>Uursoorten</strong>
                            <br />
                            Iedere medewerker heeft een aantal uurcodes toegewezen gekregen o.b.v. ervaringscijfers.<br />
                            Mochten er uurcodes ontbreken, vraag dan aan de bedrijfsadministratie om ze toe te voegen<br />
                            aan de door jou te kiezen uurcodes.<br />
                        </p>
                        <p>
                            <strong>Gedeeltelijk via CLEAR</strong>
                            <br />
                            Het kan incidenteel voorkomen dat je een dag in de Uitvoering werkt.<br />
                            Je gemaakte uren worden al dan via CLEAR verwerkt.<br />
                            Om geen conflicten in de urenverantwoording te krijgen vragen we je om in dit soort gevallen<br />
                            de reeds via CLEAR gemaakte uren ook via de Uren-Online applicatie in te dienen zodat aan jouw minimaal<br />
                            aantal contracturen-eis voldaan wordt.<br />
                            Registreer deze uren dan op uurcode : <strong>Urenverantwoording via CLEAR</strong>.
                        </p>

                        <p>
                            <strong>Uren wijzigen en nog niet indienen</strong>
                            <br />
                            Als je wilt kun je per dag je uren muteren en na afloop van de week indienen.<br />
                            Je opent betreffende week en dag, voert je mutaties in, slaat de mutaties op en je sluit af.<br />
                        </p>

                        <p>
                            <strong>Wanneer uren indienen</strong>
                            <br />
                            Na afloop van de week dien je de uren in uiterlijk op de maandag.<br />
                            <br />
                        </p>

                        <p>
                            <strong>Vragen?</strong>
                            <br />
                            Als je vragen hebt, stuur dan een email aan <a href="mailto:bedrijfsadministratie@cyclusnv.nl">bedrijfsadministratie@cyclusnv.nl</a>.<br />
                            <br />
                        </p>

                    </div>
                    <div class="ibox-footer">
                        <span class="pull-right">
                            Copyright Cyclus Administratie
                        </span>
                        
                    </div>
                </div>
            </div>





        </div>

  

